version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: my_postgres
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
  
  redis:
    image: redis:latest
    container_name: redis
    ports:
    - 6379:6379
    volumes:
      - redis_data:/data
  
  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - "8001:8001"
    depends_on:
      - redis
    
volumes:
  postgres_data:
  redis_data: